body{
    background-image: url("sfondo.png");
    background-size: cover;
    background-position: 1% 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1px);
    padding: 10px 0;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}


.headerButtonLeft{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.headerButtonRight {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    animation: borderPulse 1s infinite alternate;
}

@keyframes borderPulse {
    0% {
        border-color: white;
    }
    100% {
        border-color: #777;
    }
}

.headerLogo {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

h3 {
    font-size: 0.5rem;
    margin-bottom: 20px;
    color: white;
}